#form{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: ; */
    padding: 10px;
    gap: 20px;
    align-items: center;
}
#form input,#form #category{
    width:20%;
    height: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#form #submit{
    width: 8%;
    height: 30px;
}